*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#071b13;

overflow:hidden;

}

.background{

position:absolute;

width:100%;

height:100%;

background:

linear-gradient(135deg,#0c1444,#02130d);

}

.login-box{

position:relative;

width:400px;

padding:40px;

border-radius:20px;

background:rgba(26, 101, 145, 0.336);

backdrop-filter:blur(15px);

box-shadow:0 0 30px rgba(0, 89, 255, 0.3);

text-align:center;

color:white;

}

.login-box h1{

color:#2c64ff;

margin-bottom:10px;

}

.login-box p{

margin-bottom:30px;

color:#ddd;

}

.input-box{

display:flex;

align-items:center;

background:rgba(255,255,255,.08);

padding:15px;

margin-bottom:20px;

border-radius:10px;

}

.input-box i{

color:#2c5dff;

margin-right:10px;

}

.input-box input{

width:100%;

border:none;

outline:none;

background:none;

color:white;

font-size:16px;

}

#mostrarSenha{

cursor:pointer;

}

.opcoes{

display:flex;

justify-content:space-between;

font-size:14px;

margin-bottom:20px;

}

.opcoes a{

color:#ffffff;

text-decoration:none;

}

button{

width:100%;

padding:15px;

border:none;

border-radius:10px;

font-size:18px;

font-weight:bold;

cursor:pointer;

background:#3044ff;

color:#072111;

transition:.3s;

}

button:hover{

transform:translateY(-3px);

box-shadow:0 0 20px #2c4af5;

}

.cadastro{

margin-top:20px;

}

.cadastro a{

color:#315ce9fb;

text-decoration:none;

}